/* Font */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* font-family: 'Ubuntu', sans-serif; */


/* */

body {
    background: linear-gradient(rgba(20, 26, 35, 0.55), rgba(20, 26, 35, 0.55)), url("../img/hero.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

html,
body {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 3px;
}

.container {
    text-align: center;
}

.logo img {
    width: 235px;
    /* Change image size for mobile */
    -webkit-animation-name: logo;
    animation-name: logo;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

.logo {
    margin-bottom: 28px;
}

@-webkit-keyframes logo {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.07);
        transform: scale(1.07);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes logo {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.07);
        transform: scale(1.07);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-preferred-size: 100px;
    flex-basis: 100px;
    padding: 18px 0 10px 0;
}

.item img {
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    margin-bottom: 7px;
}

.item img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.img-fluid {
    margin-top: 25px;
}

.img-fluid:hover {
    filter: blur(3px);
}

.img {
    width: 80%;
}

.item:hover {
    text-decoration: none;
}

.title {
    font-weight: bold;
    font-size: 17px;
    color: white;
}

.subtitle {
    color: #cfcfcf;
    font-size: 12px;
}

.title,
.subtitle {
    margin: 0;
    padding: 0;
}

@media(min-width: 600px) {
    .title {
        font-size: 24px;
    }
    .subtitle {
        font-size: 15px;
    }
    .logo img {
        width: 530px;
    }
    .img {
        width: 100%;
    }
    .items {
        padding: 30px 0 20px 0;
    }
}

@media(min-width: 1000px) {
    .items {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .item:not(:first-child) {
        margin-left: 90px;
    }
}


/* Shoppy */

.embed--header {
    background-color: #209CEE;
}

.button--pay {
    background-color: #209CEE;
}

*:hover {}